.jumbotron{
    background-color: #C7006E;
    color: black;
    margin-top: 50px;
}


footer{
    padding: 10px 10px 0 10px;
    background-color: #C7006E;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-dorama{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-leer{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

.home-address-icon{
    padding-right: 10px;
}

.contenedor img{
    width: 100%;
    height: 300px;
}

.tab-content {
    padding-top: 10px;
}

.carousel-item img{
    width: 400px;
    height: 600px;
}


