$pink: #C7006E;
$yellow: #fcf003;
$red: #fc0303;
$green: #0bfc03;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
   
}

@mixin color($color) {
    color: $color;
}

@mixin padding ($left, $top, $right, $bottom){
    padding-left: $left;
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
}


.jumbotron{
    background-color: $pink;
    @include color(black );
    @include margenes(50px, 10px);
}


footer{
    @include padding(10px, 10px ,0px ,10px );
    background-color: $pink;
    @include margenes(10px, 0px);
}

.card-dorama{
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-leer{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    @include padding(0px ,0px ,10px ,0px );
}

.home-address-icon{
    @include padding(0px ,0px ,10px ,0px );
}

.contenedor img{
    width: 100%;
    height: 300px;
}

.tab-content {
    @include padding(0px ,10px ,0px ,0px );
}

.carousel-item img{
    width: 400px;
    height: 600px;
}
