.jumbotron {
  background-color: #C7006E;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  background-color: #C7006E;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-dorama {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-leer {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
}
.home-address-icon {
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
}
.contenedor img {
  width: 100%;
  height: 300px;
}
.tab-content {
  padding-left: 0px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.carousel-item img {
  width: 400px;
  height: 600px;
}
