@pink: #C7006E;
@yellow: #fcf003;
@red:#fc0303;
@green:#0bfc03;

.margenes (@top: 0px, @bottom:0px) {
    margin-top: @top;
    margin-bottom: @bottom;
   
}
.color (@color){
    color: @color;
}

.padding (@top: 0px, @bottom: 0px, @right:0px, @left: 0px){
    padding-left: @left;
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @bottom;
}

.jumbotron {
    background-color: #C7006E;
    .color(black);
    .margenes(50px, 0px); 
}
  
  footer {
    .padding(10px, 10px, 0px, 10px);
    background-color: #C7006E;
    .margenes(10px, 0px);
}
  
  .card-dorama {
    flex: 1 200px;
    .margenes(10px, 0px); }
  
  .btn-leer {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    .padding(0px, 0px, 10px, 0px); }
  
  .home-address-icon {
    .padding(0px, 0px, 10px, 0px); }
  
  .contenedor img {
    width: 100%;
    height: 300px; }
  
  .tab-content {
    .padding(10px, 0px, 0px, 0px); }
  
  .carousel-item img {
    width: 400px;
    height: 600px; }
  